In [1]:
import numpy as np
import pandas as pd

In [2]:
import sys
print(sys.version)

3.6.5 |Anaconda, Inc.| (default, Apr 26 2018, 08:42:37)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [4]:
data = pd.read_csv(r'Iris.csv', header=0)
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
data.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
114,115,5.8,2.8,5.1,2.4,Iris-virginica
11,12,4.8,3.4,1.6,0.2,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
45,46,4.8,3.0,1.4,0.3,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
149,150,5.9,3.0,5.1,1.8,Iris-virginica
56,57,6.3,3.3,4.7,1.6,Iris-versicolor

In [7]:
data['Species'] = data['Species'].map({"Iris-virginica":0, "Iris-setosa":1, "Iris-versicolor":2})

In [8]:
data.sample(10)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
82    83            5.8           2.7            3.9           1.2        2
122  123            7.7           2.8            6.7           2.0        0
24    25            4.8           3.4            1.9           0.2        1
135  136            7.7           3.0            6.1           2.3        0
5      6            5.4           3.9            1.7           0.4        1
1      2            4.9           3.0            1.4           0.2        1
53    54            5.5           2.3            4.0           1.3        2
86    87            6.7           3.1            4.7           1.5        2
68    69            6.2           2.2            4.5           1.5        2
75    76            6.6           3.0            4.4           1.4        2

In [10]:
data.drop("Id",axis=1, inplace=True)

data.duplicated().any()
len(data)

In [4]:
%timeit
a=3+5

In [ ]:
%timeit